#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [110]:
#!pip install csvkit

Collecting csvkit
  Downloading csvkit-1.0.7-py2.py3-none-any.whl (42 kB)
Collecting agate-dbf>=0.2.2
  Downloading agate_dbf-0.2.2-py2.py3-none-any.whl (3.5 kB)
Collecting agate>=1.6.1
  Downloading agate-1.6.3-py2.py3-none-any.whl (100 kB)
Requirement already satisfied: six>=1.6.1 in f:\new folder\anaconda\lib\site-packages (from csvkit) (1.16.0)
Collecting agate-sql>=0.5.3
  Downloading agate_sql-0.5.8-py2.py3-none-any.whl (7.1 kB)
Collecting agate-excel>=0.2.2
  Downloading agate_excel-0.2.5-py2.py3-none-any.whl (7.1 kB)
Collecting parsedatetime!=2.5,!=2.6,>=2.1
  Downloading parsedatetime-2.4.tar.gz (58 kB)
Requirement already satisfied: Babel>=2.0 in f:\new folder\anaconda\lib\site-packages (from agate>=1.6.1->csvkit) (2.9.1)
Requirement already satisfied: python-slugify>=1.2.1 in f:\new folder\anaconda\lib\site-packages (from agate>=1.6.1->csvkit) (5.0.2)
Collecting leather>=0.3.2
  Downloading leather-0.3.4-py2.py3-none-any.whl (31 kB)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
Collecting pytimeparse>=1.1.5
  Downloading pytimeparse-1.1.8-py2.py3-none-any.whl (10.0 kB)
Collecting dbfread>=2.0.5
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: olefile in f:\new folder\anaconda\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: xlrd>=0.9.4 in f:\new folder\anaconda\lib\site-packages (from agate-excel>=0.2.2->csvkit) (2.0.1)
Requirement already satisfied: openpyxl>=2.3.0 in f:\new folder\anaconda\lib\site-packages (from agate-excel>=0.2.2->csvkit) (3.0.9)
Requirement already satisfied: sqlalchemy>=1.0.8 in f:\new folder\anaconda\lib\site-packages (from agate-sql>=0.5.3->csvkit) (1.4.22)
Requirement already satisfied: pytz>=2015.7 in f:\new folder\anaconda\lib\site-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2021.3)
Requirement already satisfied: et-xmlfile in f:\new folder\anaconda\lib\site-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: future in f:\new folder\anaconda\lib\site-packages (from parsedatetime!=2.5,!=2.6,>=2.1->agate>=1.6.1->csvkit) (0.18.2)
Requirement already satisfied: text-unidecode>=1.3 in f:\new folder\anaconda\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in f:\new folder\anaconda\lib\site-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (1.1.1)
Building wheels for collected packages: parsedatetime
  Building wheel for parsedatetime (setup.py): started
  Building wheel for parsedatetime (setup.py): finished with status 'done'
  Created wheel for parsedatetime: filename=parsedatetime-2.4-py3-none-any.whl size=42774 sha256=f6dba0f4582effc92c772c14a8cb1ee17139fd4b7bcadab23287ef9dfecdfc3b
  Stored in directory: c:\users\shree\appdata\local\pip\cache\wheels\92\80\ea\12d7c2c45f3ad765ee4cc505a22d5af2d1cc5defb0f4c0552b
Successfully built parsedatetime
Installing collected packages: pytimeparse, parsedatetime, leather, isodate, dbfread, agate, agate-sql, agate-excel, agate-dbf, csvkit
Successfully installed agate-1.6.3 agate-dbf-0.2.2 agate-excel-0.2.5 agate-sql-0.5.8 csvkit-1.0.7 dbfread-2.0.7 isodate-0.6.1 leather-0.3.4 parsedatetime-2.4 pytimeparse-1.1.8

In [131]:
#Read the dataset in pandas ,mysql,mongodb 
import pandas as pd 
df=pd.read_csv('E:\\Python class\\Datasets\\FitBitdata.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [132]:
import pymongo

In [38]:
df.to_json('fitness.json') #converted dataframe to json file
pd.read_json('fitness.json').head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [25]:
import json

In [53]:
#loading dataset to mongodb
#loading data into mongodb
client = pymongo.MongoClient("mongodb+srv://Ashwini:suhan10@cluster0.yax0cn8.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)
with open('fitness.json')as file:
    data=[(json.load(file))]
db =client['FitnessDatabase']
collections=db['FitnessTable']
collections.insert_many(data)

Database(MongoClient(host=['ac-ccasigr-shard-00-00.yax0cn8.mongodb.net:27017', 'ac-ccasigr-shard-00-01.yax0cn8.mongodb.net:27017', 'ac-ccasigr-shard-00-02.yax0cn8.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-13sieg-shard-0', tls=True), 'test')

In [42]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in f:\new folder\anaconda\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in f:\new folder\anaconda\lib\site-packages (from pymongo[srv]) (2.2.1)

In [133]:
#loading csv to sql automation
import mysql.connector as connection
from sqlalchemy import create_engine

In [134]:
#Creating table and loading data to mysql
#creating connection 
def createConnection():
    try:
        mydb = connection.connect(host='localhost', user='Ashwini', passwd='suhan10',
                            use_pure=True, auth_plugin='mysql_native_password')
        cursor = mydb.cursor()
        print('Connected Successfully')
    except Exception as e:
        print('Error occurred connecting to database', e)
    return mydb

In [135]:
createConnection()

Connected Successfully

In [136]:
my_conn = create_engine("mysql+mysqldb://Ashwini:suhan10@localhost/sameer25")
df1=pd.DataFrame(df1)
df1.to_sql(con=my_conn,name='FitnessTable',if_exists='append')

F:\New folder\anaconda\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'FitnessTable' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [129]:
!csvsql --db mysqldb://Ashwini:suhan10@localhost:3306/sameer25 --insert FitBitdata.csv'

F:\New folder\anaconda\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:mysqldb

In [ ]:
'csvsql --db mysql://Ashwini:suhan10@localhost/Sameer25 --select  FitBit data.csv'

In [137]:
#Checking datatype of each column
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [159]:
#Converting object datatype to datetime datatye for ActivityDate
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

In [160]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [140]:
my_conn = create_engine("mysql+mysqldb://Ashwini:suhan10@localhost/sameer25")
df1=pd.DataFrame(df)
df1.to_sql(con=my_conn,name='FitnessTable',if_exists='append')

In [141]:
# Find out in this data that how many unique id's we have 
len(df['Id'].unique()) #total 35 unique Ids are there

35

In [161]:
# which id is one of the active id that you have in whole dataset
total_most_active_Ids=df[['Id','TotalSteps']].groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).head(5) 
total_most_active_Ids

Id
1503960366    221170
8877689391    209005
4020332650    184851
6962181067    176956
8053475328    163288
Name: TotalSteps, dtype: int64

In [162]:
#how many of them have not logged there activity find out in terms of number of ids
len(df[df['LoggedActivitiesDistance']==0.0]['Id'].unique())

35

In [163]:
#Find out who is the laziest person id that we have in dataset 
df[['Id','SedentaryMinutes']].groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending=False).head()#These are top 5 Ids who are laziest person

Id
4057192912    43458
4020332650    34663
1624580081    24288
8253242879    16228
1503960366    15387
Name: SedentaryMinutes, dtype: int64

In [164]:
#Explore over an internet that how much calories burn is 
#required for a healthy person and find out how many healthy person we have in our dataset-->for healthy life i considered 2000 calories must be burnt
def caloryCheck(a):
    if a>2000:
        return 1
    else :
        return 0

In [165]:
df['HealthyLife']=df['Calories'].apply(caloryCheck)
df
#finding how many of dataset are burning calories to get Healthy life 
df[['Id','HealthyLife']].groupby('Id')['HealthyLife'].sum().sort_values(ascending=False) # these are ids of ttoal healthy person

Id
4020332650    30
4702921684    14
4445114986    13
6962181067    13
2347167796    12
8378563200    11
7007744171    11
8877689391    11
1927972279    11
2022484408    11
5577150313    10
4319703577    10
8053475328    10
6290855005     9
1644430081     9
4057192912     9
7086361926     8
8792009665     7
8583815059     7
6117666160     7
5553957443     6
6775888955     6
3372868164     4
1503960366     3
2873212765     3
4558609924     3
6391747486     2
2891001357     2
8253242879     1
2320127002     1
1844505072     0
1624580081     0
4388161847     0
2026352035     0
3977333714     0
Name: HealthyLife, dtype: int64

In [166]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,HealthyLife
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,0
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,1
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,0
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,0
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,1
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,1
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,1
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,1
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,0

In [170]:
#how many person are not a regular person with respect to activity try to find out those
#We can consider 
#df.drop(columns='LoggDay',inplace=True)
healthy_df=df.groupby('Id')[['HealthyLife','Calories']].sum()
healthy_df.head()

            HealthyLife  Calories
Id
1503960366            3     34128
1624580081            0     25705
1644430081            9     29164
1844505072            0     19391
1927972279           11     27048

In [176]:
#how many person are not a regular person with respect to activity try to find out those
#for this we have to check how many people not even logged 
healthy_df['LoggDays']=df.groupby('Id')['ActivityDate'].count().sort_values(ascending=False)
healthy_df

            HealthyLife  Calories  LoggDays
Id
1503960366            3     34128        19
1624580081            0     25705        19
1644430081            9     29164        10
1844505072            0     19391        12
1927972279           11     27048        12
2022484408           11     29704        12
2026352035            0     16266        12
2320127002            1     18385        12
2347167796           12     30320        15
2873212765            3     20349        12
2891001357            2     18187         8
3372868164            4     18603        10
3977333714            0     16777        12
4020332650           30     98412        32
4057192912            9     60913        32
4319703577           10     23931        12
4388161847            0     14442         8
4445114986           13     31617        15
4558609924            3     21962        12
4702921684           14     42322        15
5553957443            6     21630        12
5577150313           10     36303        11
6117666160            7     20993        10
6290855005            9     21656        10
6391747486            2     15868         9
6775888955            6     24523         9
6962181067           13     29249        14
7007744171           11     31525        12
7086361926            8     26124        12
8053475328           10     31825        11
8253242879            1     17556        12
8378563200           11     40274        12
8583815059            7     19130         8
8792009665            7     24884        12
8877689391           11     41414        12

In [178]:
healthy_df['AvgCalory']=healthy_df['Calories']/healthy_df['LoggDays']
healthy_df

            HealthyLife  Calories  LoggDays    AvgCalory
Id
1503960366            3     34128        19  1796.210526
1624580081            0     25705        19  1352.894737
1644430081            9     29164        10  2916.400000
1844505072            0     19391        12  1615.916667
1927972279           11     27048        12  2254.000000
2022484408           11     29704        12  2475.333333
2026352035            0     16266        12  1355.500000
2320127002            1     18385        12  1532.083333
2347167796           12     30320        15  2021.333333
2873212765            3     20349        12  1695.750000
2891001357            2     18187         8  2273.375000
3372868164            4     18603        10  1860.300000
3977333714            0     16777        12  1398.083333
4020332650           30     98412        32  3075.375000
4057192912            9     60913        32  1903.531250
4319703577           10     23931        12  1994.250000
4388161847            0     14442         8  1805.250000
4445114986           13     31617        15  2107.800000
4558609924            3     21962        12  1830.166667
4702921684           14     42322        15  2821.466667
5553957443            6     21630        12  1802.500000
5577150313           10     36303        11  3300.272727
6117666160            7     20993        10  2099.300000
6290855005            9     21656        10  2165.600000
6391747486            2     15868         9  1763.111111
6775888955            6     24523         9  2724.777778
6962181067           13     29249        14  2089.214286
7007744171           11     31525        12  2627.083333
7086361926            8     26124        12  2177.000000
8053475328           10     31825        11  2893.181818
8253242879            1     17556        12  1463.000000
8378563200           11     40274        12  3356.166667
8583815059            7     19130         8  2391.250000
8792009665            7     24884        12  2073.666667
8877689391           11     41414        12  3451.166667

In [181]:
healthy_df['AvgHealthIndex']=healthy_df['HealthyLife']/healthy_df['LoggDays']
healthy_df

            HealthyLife  Calories  LoggDays    AvgCalory  AvgHealthIndex
Id
1503960366            3     34128        19  1796.210526        0.157895
1624580081            0     25705        19  1352.894737        0.000000
1644430081            9     29164        10  2916.400000        0.900000
1844505072            0     19391        12  1615.916667        0.000000
1927972279           11     27048        12  2254.000000        0.916667
2022484408           11     29704        12  2475.333333        0.916667
2026352035            0     16266        12  1355.500000        0.000000
2320127002            1     18385        12  1532.083333        0.083333
2347167796           12     30320        15  2021.333333        0.800000
2873212765            3     20349        12  1695.750000        0.250000
2891001357            2     18187         8  2273.375000        0.250000
3372868164            4     18603        10  1860.300000        0.400000
3977333714            0     16777        12  1398.083333        0.000000
4020332650           30     98412        32  3075.375000        0.937500
4057192912            9     60913        32  1903.531250        0.281250
4319703577           10     23931        12  1994.250000        0.833333
4388161847            0     14442         8  1805.250000        0.000000
4445114986           13     31617        15  2107.800000        0.866667
4558609924            3     21962        12  1830.166667        0.250000
4702921684           14     42322        15  2821.466667        0.933333
5553957443            6     21630        12  1802.500000        0.500000
5577150313           10     36303        11  3300.272727        0.909091
6117666160            7     20993        10  2099.300000        0.700000
6290855005            9     21656        10  2165.600000        0.900000
6391747486            2     15868         9  1763.111111        0.222222
6775888955            6     24523         9  2724.777778        0.666667
6962181067           13     29249        14  2089.214286        0.928571
7007744171           11     31525        12  2627.083333        0.916667
7086361926            8     26124        12  2177.000000        0.666667
8053475328           10     31825        11  2893.181818        0.909091
8253242879            1     17556        12  1463.000000        0.083333
8378563200           11     40274        12  3356.166667        0.916667
8583815059            7     19130         8  2391.250000        0.875000
8792009665            7     24884        12  2073.666667        0.583333
8877689391           11     41414        12  3451.166667        0.916667

In [183]:
healthy_df.sort_values(by=['AvgCalory','LoggDays'],ascending=False).head()

            HealthyLife  Calories  LoggDays    AvgCalory  AvgHealthIndex
Id
8877689391           11     41414        12  3451.166667        0.916667
8378563200           11     40274        12  3356.166667        0.916667
5577150313           10     36303        11  3300.272727        0.909091
4020332650           30     98412        32  3075.375000        0.937500
1644430081            9     29164        10  2916.400000        0.900000

In [184]:
healthy_df.describe()

       HealthyLife      Calories   LoggDays    AvgCalory  AvgHealthIndex
count    35.000000     35.000000  35.000000    35.000000       35.000000
mean      7.257143  28588.000000  13.057143  2184.637454        0.556303
std       5.986961  15462.554815   5.351981   584.565939        0.367428
min       0.000000  14442.000000   8.000000  1352.894737        0.000000
25%       2.500000  19260.500000  10.500000  1799.355263        0.236111
50%       7.000000  24884.000000  12.000000  2089.214286        0.666667
75%      11.000000  31571.000000  12.000000  2551.208333        0.909091
max      30.000000  98412.000000  32.000000  3451.166667        0.937500

In [210]:
#who is the thired most active person in this dataset find out those in pandas and in sql both
# i am considering 50% value of Avg Healthindex to check person is healthy or unhealthy
def checkHealthiness(a,b):
    if ((a > 0.66) or(b > 14442)):
        return "Healthy"
    else :
        return "Unhealthy"

In [211]:
checkHealthiness(0.89,1000)

'Healthy'

In [216]:
healthy_df['Health_Status']=healthy_df.apply(lambda healthy_df:checkHealthiness(healthy_df['AvgHealthIndex'],healthy_df['Calories']),axis=1)

In [217]:
healthy_df

,HealthyLife,Calories,LoggDays,AvgCalory,AvgHealthIndex,Health_Status
Id,,,,,,
1503960366,3,34128,19,1796.210526,0.157895,Healthy
1624580081,0,25705,19,1352.894737,0.000000,Healthy
1644430081,9,29164,10,2916.400000,0.900000,Healthy
1844505072,0,19391,12,1615.916667,0.000000,Healthy
1927972279,11,27048,12,2254.000000,0.916667,Healthy
2022484408,11,29704,12,2475.333333,0.916667,Healthy
2026352035,0,16266,12,1355.500000,0.000000,Healthy
2320127002,1,18385,12,1532.083333,0.083333,Healthy
2347167796,12,30320,15,2021.333333,0.800000,Healthy
2873212765,3,20349,12,1695.750000,0.250000,Healthy
2891001357,2,18187,8,2273.375000,0.250000,Healthy
3372868164,4,18603,10,1860.300000,0.400000,Healthy
3977333714,0,16777,12,1398.083333,0.000000,Healthy
4020332650,30,98412,32,3075.375000,0.937500,Healthy
4057192912,9,60913,32,1903.531250,0.281250,Healthy
4319703577,10,23931,12,1994.250000,0.833333,Healthy
4388161847,0,14442,8,1805.250000,0.000000,Unhealthy
4445114986,13,31617,15,2107.800000,0.866667,Healthy
4558609924,3,21962,12,1830.166667,0.250000,Healthy
4702921684,14,42322,15,2821.466667,0.933333,Healthy
5553957443,6,21630,12,1802.500000,0.500000,Healthy
5577150313,10,36303,11,3300.272727,0.909091,Healthy
6117666160,7,20993,10,2099.300000,0.700000,Healthy
6290855005,9,21656,10,2165.600000,0.900000,Healthy
6391747486,2,15868,9,1763.111111,0.222222,Healthy
6775888955,6,24523,9,2724.777778,0.666667,Healthy
6962181067,13,29249,14,2089.214286,0.928571,Healthy
7007744171,11,31525,12,2627.083333,0.916667,Healthy
7086361926,8,26124,12,2177.000000,0.666667,Healthy
8053475328,10,31825,11,2893.181818,0.909091,Healthy
8253242879,1,17556,12,1463.000000,0.083333,Healthy
8378563200,11,40274,12,3356.166667,0.916667,Healthy
8583815059,7,19130,8,2391.250000,0.875000,Healthy
8792009665,7,24884,12,2073.666667,0.583333,Healthy
8877689391,11,41414,12,3451.166667,0.916667,Healthy

In [221]:
#Finding healthy people from dataset 
len(healthy_df[healthy_df['Health_Status']=='Healthy'])

34

In [239]:
# who is the 5th most laziest person avilable in dataset find it out 
#SedentaryMinutes it is most appropriate to find out who is most laziest person
df['SedentaryMinutes'].describe()
df[df['SedentaryMinutes']>1057].sort_values(by='SedentaryMinutes',ascending=False).head()['Id']

141    2891001357
52     1844505072
179    4020332650
178    4020332650
177    4020332650
Name: Id, dtype: int64

In [240]:
#what is a totla acumulative calories burn for a person find out
healthy_df

,HealthyLife,Calories,LoggDays,AvgCalory,AvgHealthIndex,Health_Status
Id,,,,,,
1503960366,3,34128,19,1796.210526,0.157895,Healthy
1624580081,0,25705,19,1352.894737,0.000000,Healthy
1644430081,9,29164,10,2916.400000,0.900000,Healthy
1844505072,0,19391,12,1615.916667,0.000000,Healthy
1927972279,11,27048,12,2254.000000,0.916667,Healthy
2022484408,11,29704,12,2475.333333,0.916667,Healthy
2026352035,0,16266,12,1355.500000,0.000000,Healthy
2320127002,1,18385,12,1532.083333,0.083333,Healthy
2347167796,12,30320,15,2021.333333,0.800000,Healthy
2873212765,3,20349,12,1695.750000,0.250000,Healthy
2891001357,2,18187,8,2273.375000,0.250000,Healthy
3372868164,4,18603,10,1860.300000,0.400000,Healthy
3977333714,0,16777,12,1398.083333,0.000000,Healthy
4020332650,30,98412,32,3075.375000,0.937500,Healthy
4057192912,9,60913,32,1903.531250,0.281250,Healthy
4319703577,10,23931,12,1994.250000,0.833333,Healthy
4388161847,0,14442,8,1805.250000,0.000000,Unhealthy
4445114986,13,31617,15,2107.800000,0.866667,Healthy
4558609924,3,21962,12,1830.166667,0.250000,Healthy
4702921684,14,42322,15,2821.466667,0.933333,Healthy
5553957443,6,21630,12,1802.500000,0.500000,Healthy
5577150313,10,36303,11,3300.272727,0.909091,Healthy
6117666160,7,20993,10,2099.300000,0.700000,Healthy
6290855005,9,21656,10,2165.600000,0.900000,Healthy
6391747486,2,15868,9,1763.111111,0.222222,Healthy
6775888955,6,24523,9,2724.777778,0.666667,Healthy
6962181067,13,29249,14,2089.214286,0.928571,Healthy
7007744171,11,31525,12,2627.083333,0.916667,Healthy
7086361926,8,26124,12,2177.000000,0.666667,Healthy
8053475328,10,31825,11,2893.181818,0.909091,Healthy
8253242879,1,17556,12,1463.000000,0.083333,Healthy
8378563200,11,40274,12,3356.166667,0.916667,Healthy
8583815059,7,19130,8,2391.250000,0.875000,Healthy
8792009665,7,24884,12,2073.666667,0.583333,Healthy
8877689391,11,41414,12,3451.166667,0.916667,Healthy